@charset "utf-8";

.pagination {
  @include flexbox;
  outline: 2px dashed darkcyan;

  .page-item {
    width: 32px;
    height: 32px;
    border-radius: 2px;
    border: solid 1px #c6cbd4;
  }
}

#table-pagination ul {
  @include flexbox;

  li {
    span,
    a {
      display: block;
      width: auto;
      height: 32px;
      min-width: 32px;
      padding: 0 12px;
      margin-right: 4px;
      font-size: 14px;
      font-weight: $fw-r;
      color: #333;
      text-align: center;
      line-height: 30px;
      border-radius: 2px;
      border: solid 1px #c6cbd4;
      cursor: default;
      @include select-none; //드래그 방지용
    }

    &.active {
      span {
        color: #fff;
        background-color: #30b9d3;
        border-color: #30b9d3;
      }
    }

    &.disabled span {
      border-color: #c6cbd4;
      color: #c6cbd4;
    }

    &.disabled .prev,
    &.disabled .next {
      opacity: 0.5;
    }

    .page-link {
      cursor: pointer;
    }

    .ellipse {
      min-width: auto;
      display: block;
      margin-left: 5px;
      margin-right: 10px;
      padding: 0;
      border: 0;
      line-height: 38px;
      color: #333 !important;
    }

    .prev,
    .next {
      margin-right: 8px;
      width: 32px;
      text-indent: -999px;
      overflow-x: hidden;
      background-position: 50%;
    }

    .prev {
      overflow: hidden;
      background-image: icon(arrow-left, "%235c5c5c");
    }

    .next {
      margin-left: 4px;
      background-image: icon(arrow-right, "%235c5c5c");
    }
  }
}
