@charset "utf-8";

// 지윤씨 작업물

.btn5 {
  padding-top: 15px;
  float: left;

  .back5 {
    width: 32px;
    height: 32px;

    img {
      width: 100%;
    }
  }
}
.content5 {
  .title5 {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
  }
  .title-in5 {
    padding: 24.5px 0 24.5px 25px;
    font-size: 16px;
    @include flex-shrink(0);
  }
  .button-type-a {
    @include flex-grow(0);
  }
}

.information5 {
  border-top: 1px solid #f2f3f7;
  border-bottom: 1px solid #f2f3f7;
  padding: 19.5px 0 19.5px 25px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  span {
    display: flex;
    flex-grow: 1;
    color: #3b5675;
    font-size: 13px;
    border-right: 1px solid $color-lightgray;
    padding-left: 27px;
    align-items: center;
  }
  .small-btn5 {
    border-radius: 100px;
    display: inline-block;
    border: 1px solid #c6cbd4;
    line-height: 24px;
    padding: 0 14px;
    margin-left: 5px;
  }
}
.app5 {
  box-sizing: border-box;
  padding: 0 30px 0 55px;
}
.app-tit5 {
  font-weight: 500;
  padding-top: 33.5px;
  line-height: 30px;
}
.app-in5 {
  font-weight: 300;
  line-height: 30px;
  padding: 11.1px 0 29.9px 0;
}
.app-image5 {
  width: 100%;
  height: 680px;
  background-color: $color-lightgray;
}
