@charset "utf-8";

// Button

.button-style02 {
  color: #123;
}

.button-type-b {
  //버튼 B타입
  width: auto;
  height: 32px;
  min-width: 78px;
  padding: 0 25px;
  line-height: 30px;
  vertical-align: middle;
  margin: 0 auto;
  color: #fff;
  font-size: 14px;
  background-color: #30b9d3;
  border-radius: 2px;
  border: 1px solid transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #11adca;
  }

  &:disabled {
    color: #999;
    background-color: #eee;
  }
}

.button-type-c {
  @extend .button-type-b;
  padding: 0 18px;
  color: #4d4d4d;
  border-color: #c6cbd4;
  background-color: #fff;

  &:hover,
  &:focus {
    background-color: #f2f4f7;
    border-color: #c6cbd4;
  }

  &:disabled {
    background-color: #f2f4f7;
    border-color: #f2f4f7;
  }
}

.button-type-a {
  @extend .button-type-b;
  padding: 0 32px;
  color: #333;
  background-color: #f2f4f7;

  &:hover,
  &:focus {
    background-color: #d8e0e7;
  }

  &:disabled {
    background-color: #f2f4f7;
    color: #98a6b6;
  }
}

.button-type-d {
  display: inline-block;
  min-width: 70px;
  height: 24px;
  padding: 0 14px;
  line-height: 22px;
  font-size: 12px;
  border-radius: 12px;
  color: #4d4d4d !important;
  border: solid 1px #c6cbd4;
  background-color: #ffffff;

  &:hover,
  &:focus {
    background-color: #f2f4f7;
  }

  &.disabled,
  &:disabled {
    color: #98a6b6 !important;
    background-color: #f2f4f7;
    border-color: #f2f4f7;
    cursor: default;
  }
}

.button-wrap {
  @include flexbox;
  @include align-items(center);

  button {
    width: 100%;
    @include flex-grow(1);
  }
}

//스케줄러 리로드 버튼 (돌아가는 화살표)
.scheduler-realod {
  width: 17px;
  height: 17px;
  text-indent: -9999px;
  overflow: hidden;
  background-color: orange;
}
