@charset "utf-8";

// **** DROPDOWN style

// dropdown에 대한 전체 스타일

.dropdown {
  position: relative;
  // @include flexbox;

  .text {
    //표시되는 텍스트
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-weight: $fw-b;
    text-align: left;
    @include ellipsis;
    cursor: pointer;

    &:after {
      vertical-align: middle;
      display: inline-block;
      margin-left: 4px;
      content: "";
      width: 20px;
      height: 20px;
      background-image: icon(dropdown-arrow, "%23fff");
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  }

  .combobox {
    z-index: 2;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
  }

  .combobox-item {
    display: block;
    width: 100%;
    height: 36px;
    line-height: 36px;
    color: #333;
    padding-left: 14px;
    padding-right: 14px;
    text-align: left;
    @include ellipsis;
    font-size: 13px;

    &:hover {
      background-color: #fafafa;
    }
  }

  &.active {
    .text {
      border-color: #bbb;
    }
    .combobox {
      display: block;
    }
  }

  &.reverse {
    //위로 드롭다운 펼쳐질 때
    .combobox {
      top: initial;
      bottom: 100%;
      margin-bottom: 10px;
    }
  }
}

// 개별 스타일

// ------------

.dd-gnb-mgmt {
  // GNB 상단의 관리 메뉴
  margin: 50px 0;

  .text {
    padding-left: 40px;
    padding-right: 40px;
    color: #fff;

    &:after {
      vertical-align: sub;
    }
  }

  .combobox {
    margin-top: 10px;
    width: 85%;
    left: 50%;
    @include transform(translateX(-50%));
  }
}

// ------------

.dd-lnb-email {
  // LNB 오른편의 이메일

  .text {
    text-align: right;
    font-size: 12px;
    font-weight: $fw-r;
    color: #17365b;

    &:after {
      background-image: icon(dropdown-arrow, "%2317365b");
    }
  }

  .combobox {
    margin-top: 4px;
  }
}

// ------------

// * * * * * * * * * * * *
// 행 표시용 드롭다운
// * * * * * * * * * * * *
.dropdown-paging {
  @include flexbox;
  @include align-items(center);

  &:hover {
    .text-value {
      border-color: #11adca;
    }
  }

  &.active {
    .text {
      border-color: #11adca;
    }
    .combobox {
      display: block;
    }
  }
  &:after {
    position: absolute;
    top: 50%;
    right: 4px;
    width: 24px;
    height: 24px;
    background-image: icon(dropdown-list, "%23333");
    background-size: 24px 24px;
    @include transform(translateY(-50%));
    content: "";
    cursor: pointer;
  }

  .label {
    color: #000;
    font-size: 14px;
    font-weight: $fw-r;
    margin-right: 8px;
    @include flex-shrink(0);
    cursor: pointer;
  }

  .text-value {
    cursor: pointer;
    width: 78px;
    height: 32px;
    padding-left: 12px;
    padding-right: 26px;
    border-radius: 4px;
    text-align: left;
    font-size: 14px;
    font-weight: $fw-r;
    color: #333333;
    border: 1px solid #c6cbd4;
    background-color: #fff;
  }

  .text {
    cursor: pointer;
    width: auto;
    height: 32px;
    vertical-align: middle;
    line-height: 30px;
    padding-left: 12px;
    padding-right: 26px;
    border-radius: 4px;
    text-align: left;
    font-size: 14px;
    font-weight: $fw-r;
    color: #333333;
    border: 1px solid #c6cbd4;
    background-color: #fff;
  }
  .combobox {
    left: initial;
    right: 0;
    width: 78px;
  }
  .combobox-item {
    text-align: center;
    &:hover {
      background-color: #f2f4f7;
    }
  }
}

// * * * * * * * * * * * *
// 인풋형태 드롭다운 (로그인에서 사용)
// * * * * * * * * * * * *
.dropdown-input {
  position: relative;
  cursor: pointer;

  .icon-select {
    position: absolute;
    top: 8px;
    right: 12px;
    width: 34px;
    height: 34px;
    background-size: 100%;
    background-image: icon(select, "%23a8b6c8");
  }
  .icon-select-2 {
    position: absolute;
    top: 4px;
    right: 6px;
    width: 24px;
    height: 24px;
    background-size: 100%;
    background-image: icon(arrow-down, "%23333");
  }

  input {
    cursor: pointer;
  }

  .combobox {
    margin-top: 10px;
  }

  .text-value {
    cursor: pointer;
    width: 78px;
    height: 32px;
    padding-left: 12px;
    padding-right: 26px;
    border-radius: 4px;
    text-align: left;
    font-size: 14px;
    font-weight: $fw-r;
    color: #333333;
    border: 1px solid #c6cbd4;
    background-color: #fff;
  }

  .combobox-item {
    height: 30px;
    line-height: 30px;
    font-weight: $fw-r;
    font-size: 14px;
    text-align: center;

    &:hover,
    &:focus {
      background-color: #f2f4f7;
    }
  }
}

.dropdown-search {
  .text {
    cursor: pointer;
    // width: 78px;
    height: 32px;
    vertical-align: middle;
    line-height: 30px;
    padding-left: 12px;
    padding-right: 26px;
    border-radius: 2px;
    text-align: left;
    font-size: 14px;
    font-weight: $fw-r;
    color: #333333;
    border: 1px solid #c6cbd4;
    background-color: #fff;
    background-size: 22px 22px;
    background-image: icon(arrow-down, "%23333");
    background-repeat: no-repeat;
    background-position: right 6px top 50%;
  }
  .combobox {
    margin-top: 4px;
  }
  .combobox-item {
    text-align: center;
  }
}

// * * * * * * * * * * * *
// (기본 셀렉트박스를 쓰는 경우)
// * * * * * * * * * * * *

.select-container {
  @include flexbox;
  @include align-items(center);

  .select-label {
    display: block;
    margin-right: 8px;
    font-size: 14px;
  }

  // .select-combobox-container {
  //   width: 80px;
  //   overflow: hidden;
  //   border: 1px solid #aaa;
  //   border-radius: 4px;
  //   background-image: url(http://i62.tinypic.com/15xvbd5.png),
  //     -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
  //   background-position: 97% center;
  //   background-repeat: no-repeat;
  // }

  .select-combobox {
    font-size: 13px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 6px 40px 6px 12px;
    background: #fff url("http://i62.tinypic.com/15xvbd5.png") no-repeat right
      9px center;
    background-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
  }
}
