@charset "utf-8";

// Input

.input-container {
  position: relative;
  margin-right: 20px;
  width: 320px;

  &.input-sm {
    width: 140px;
  }

  &.input-full {
    width: 100%;
  }

  .title {
    display: block;
    font-size: 13px;
    font-weight: $fw-m;
    margin-right: 14px;
    color: #333;
  }

  &.input-disable {
    cursor: default;
    @include pointer-none;
    @include select-none;

    .title,
    .line-title {
      color: #9daab9;
    }

    label {
      color: #9daab9;
    }

    .input-text {
      border-color: #c6cbd4;
    }
  }
}

.input-container.type-col {
  //타이틀과 인풋이 따로 있는 두 줄 타입일 때

  .title {
    margin-bottom: 19px;
  }
}

.input-container.type-row {
  //타이틀과 인풋이 함께 있는 한 줄 타입일 때
  @include flexbox;
  @include align-items(center);
  .input-text {
    height: 32px !important;
  }
  .title {
    font-size: 14px;
    @include flex-shrink(0);
  }
}

.input-text {
  border: 1px solid #c6cbd4;
  background-color: #fff;
  width: 100%;
  padding: 10px 13px;
  color: #000;
  font-size: 13px;
  font-weight: $fw-r;
  border-radius: 2px;
  letter-spacing: -0.5px;

  &:focus {
    outline: 0;
  }

  &[disabled] {
    color: #9daab9;
    border-color: #f2f4f7 !important;
    background-color: #f2f4f7;
  }
}

.input-button {
  // top: 0;
  // right: 0;
  // position: absolute;
  display: block;
  margin-left: -2px;
  padding: 0 20px;
  color: #4d4d4d;
  font-size: 14px;
  // border-left: none;
  // border-left: 1px solid #c6cbd4;
}

.textarea-container {
  width: 100%;
  margin-bottom: 8px;

  .textarea-title {
    display: block;
    font-weight: $fw-m;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 8px;
  }
}

.textarea-basic {
  display: inline-block;
  min-height: 10px;
  width: 100%;
  // height: 242px;
  min-height: 240px;
  height: auto;
  padding: 6px 10px;
  color: #000;
  font-size: 16px;
  font-weight: $fw-t;
  overflow-y: auto;
  line-height: 1.88;
  letter-spacing: -0.1px;
  border: 1px solid #c6cbd4;
  resize: none;
  border-radius: 2px;

  &:focus {
    outline: 0;
  }

  &[readonly] {
    border: 0;
    min-height: auto;
  }
}

.upload-container {
  position: relative;
  display: inline-block;
  @include flexbox;
  @include align-items(center);

  & + .message {
    position: absolute;
    bottom: -24px;
    left: 0;
  }

  .fileName {
    display: inline-block;
    margin-right: 8px;
    font-size: 13px;
    text-decoration: underline;
    font-weight: $fw-r;
    color: #000;
    letter-spacing: -0.5px;
    vertical-align: middle;
    max-width: 200px;
    @include ellipsis;
  }

  &:before {
    position: relative;
    // top: 50%;
    // left: 0;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 6px;
    background-image: icon(icon-upload, "%23c6cbd4");
    background-repeat: no-repeat;
    vertical-align: sub;
    content: "";
    // @include transform(translateY(-50%));
  }
}

.input-file {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;

  & + label {
    position: relative;
    .button-type-d {
      display: block;
      text-align: center;
      cursor: pointer;
    }
  }
}

.input-datepicker {
  position: relative;
  z-index: 1;
  @extend .input-text;
  width: 100%;

  &[readonly] {
    border: 1px solid #c6cbd4;
  }
}

// - - - -
// .checkbox-container
// - - - -
.checkbox-container {
  @include flexbox;

  label {
    cursor: pointer;
  }
}

.checkbox-block {
  // > checkbox-type-a
  &.checkbox-type-a {
    input[type="checkbox"] {
      overflow: hidden;
      position: absolute;
      top: -999px;
      width: 0;
      height: 0;
      visibility: hidden;

      &:checked + label {
        &:before {
          background-image: icon(icon-checkbox-active, "%23C6CBD4");
        }
      }
    }

    label {
      position: relative;
      display: block;
      font-size: 14px;
      font-weight: $fw-m;
      color: #333333;
      height: 32px;
      line-height: 32px;
      padding: 0 0px 0 30px;
      margin-right: 10px;
      border-radius: 2px;
      // background-color: #f2f4f7;

      &:before {
        position: absolute;
        top: 6px;
        left: 6px;
        display: block;
        width: 20px;
        height: 20px;
        content: "";
        background-image: icon(icon-checkbox, "%23C6CBD4");
        background-repeat: none;
      }
    }
  }

  // > checkbox-type-b
  // &.checkbox-type-b {
  //   input[type="checkbox"] {
  //     overflow: hidden;
  //     position: absolute;
  //     top: -999px;
  //     width: 0;
  //     height: 0;
  //     visibility: hidden;

  //     &:checked + label {
  //       &:before {
  //         background-image: icon(icon-checkbox-active, "%23C6CBD4");
  //       }
  //     }
  //   }

  //   label {
  //     position: relative;
  //     display: block;
  //     font-size: 14px;
  //     font-weight: $fw-m;
  //     color: #333333;
  //     height: 32px;
  //     line-height: 32px;
  //     padding: 0 10px 0 30px;
  //     border-radius: 2px;
  //     background-color: #f2f4f7;

  //     &:before {
  //       position: absolute;
  //       top: 6px;
  //       left: 6px;
  //       display: block;
  //       width: 20px;
  //       height: 20px;
  //       content: "";
  //       background-image: icon(icon-checkbox, "%23C6CBD4");
  //       background-repeat: none;
  //     }
  //   }
  // }
}

// - - - -
// .radio-container
// - - - -
.radio-container {
  @include flexbox;
  @include align-items(center);

  .radio-block {
    @include flexbox;
    @include align-items(center);
    @include flex-shrink(0);
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }
  }

  input {
    &:checked + label + .input-text {
      // outline: 3px solid red;
      // color: #000;
      // border-color: #c6cbd4;
      // background-color: #fff;
    }
  }

  label {
    cursor: pointer;
    @include flex-shrink(0);

    & + .input-text {
      margin-left: 8px;
    }
  }
}

// ------------
// radio-type-a
// ------------
.radio-type-a {
  position: relative;
  overflow: hidden;

  input[type="radio"] {
    overflow: hidden;
    position: absolute;
    top: -999px;
    width: 0;
    height: 0;
    visibility: hidden;

    &:checked + label:before {
      background-image: icon(icon-radio-active, "%23000");
    }

    &[disabled] + label {
      cursor: default;
    }
  }

  label {
    position: relative;
    display: block;
    font-size: 13px;
    padding-left: 26px;
    font-weight: 500;
    color: #333333;

    &:before {
      position: absolute;
      top: 50%;
      left: 0px;
      display: block;
      width: 20px;
      height: 20px;
      content: "";
      background-image: icon(icon-radio, "%23000");
      @include transform(translateY(-50%));
    }
  }
}

// ------------
// radio-type-b
// ------------
.radio-type-b {
  position: relative;
  overflow: hidden;
  margin-left: 0 !important;

  input[type="radio"] {
    overflow: hidden;
    position: absolute;
    top: -999px;
    width: 0;
    height: 0;
    visibility: hidden;

    &:checked + label {
      color: #fff;
      border-color: #30b9d3;
      background-color: #30b9d3;
    }
  }

  label {
    width: 60px;
    height: 32px;
    text-align: center;
    font-size: 13px;
    line-height: 32px;
    color: #000;
    font-weight: $fw-r;
    border: 1px solid #c6cbd4;
    background-color: #fff;
  }

  .radio-container &:first-child label {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-right: 0;
  }

  .radio-container &:last-child label {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-left: 0;
  }
}

// * * * * * * * * * * * *
// 로그인 화면용 인풋
// * * * * * * * * * * * *
.input-type-login {
  width: 100%;
  height: 50px;
  padding: 0 12px;
  line-height: 50px;
  font-size: 16px;
  font-weight: $fw-m;
  border-radius: 8px;
  background-color: rgba(168, 182, 200, 0.15);
  color: #17365b;

  @include placeholder {
    color: #8592a2;
  }
}

.input-container {
  &.w-500 {
    .input-text {
      width: 500px !important;
    }
  }
  &.w-300 {
    .input-text {
      width: 300px !important;
    }
  }
  &.w-100 {
    .input-text {
      width: 100px !important;
    }
  }
}
