@charset "utf-8";

#dim {
  display: none;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  &.active {
    display: block;
  }
}

#modal {
  z-index: 1001;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include justify-content(center);
  @include align-items(center);
  // display: none;
  @include flexbox;
  overflow: auto;

  &.active {
    .modal-box {
      animation: fadeIn 0.5s;
    }
  }
}

@keyframes fadeIn {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    transform: translateY(0%);
    opacity: 1;
  }
  to {
    transform: translateY(-30px);
    opacity: 0;
  }
}

.modal-box {
  position: relative;
  max-width: 95vw;
  min-width: 420px;
  max-height: 95vh;
  width: auto;
  height: auto;
  padding: 48px 92px;
  text-align: center;
  background-color: #fff;
  border-radius: 2px;

  &.modal-edit {
  }

  .modal-title {
    position: relative;
    color: #000;
    font-size: 18px;
    font-weight: $fw-m;
    margin-bottom: 22px;
  }

  .modal-content {
    position: relative;
    padding-bottom: 40px;

    .text {
      color: #000;
      line-height: 1.88;
      font-weight: $fw-r;
      font-size: 16px;
    }

    .input-container {
      margin-top: 20px;

      &:first-child {
        margin-top: 0;
      }
      .title {
        margin-bottom: 15px;
        text-align: left;
      }
    }

    .message-modal {
      position: absolute;
      width: 100%;
      bottom: 14px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 12px;
      color: #ee6262 !important;
    }
  }

  .modal-button-container {
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);

    button {
      margin: 0;
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.modal-box.modal-layout-large {
  padding: 0 !important;
  // max-width: 90vw;
  overflow: auto;
  // max-height: 600px;
  // overflow: auto;

  .modal-title {
    width: 100%;
    height: 80px;
    text-align: left;
    font-size: 16px;
    color: #000;
    line-height: 80px;
    padding: 0 40px;
    margin-bottom: 0;
    background-color: #f2f4f7;
    border-bottom: 1px solid #e3e7ec;
  }

  .modal-content {
    overflow: auto;
    padding-bottom: 0;
    max-height: calc(95vh - 80px);
  }

  .table-container {
    margin-top: 19px;
    margin-bottom: 0;

    .table-viewArea {
      min-height: 0;
    }
  }
}

.button-modal-close {
  position: absolute;
  top: 50%;
  right: 28px;
  width: 32px;
  height: 32px;
  @include transform(translateY(-50%));
  // background-color: orangered;
  text-indent: -9999px;
  overflow: hidden;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: icon(button-modal-close, "transparent");

  &:hover {
    background-image: icon(button-modal-close, "%23F2F4F7");
  }
}

.modal-log {
  .modal-content-container {
    width: 840px;
    padding: 40px;
  }
  .log-title {
    display: block;
    font-size: 16px;
    font-weight: $fw-m;
    text-align: left;
    margin-bottom: 14px;
    margin-top: 43px;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .log-description {
    text-align: left;
    font-size: 16px;
    font-weight: $fw-t;
    line-height: 1.88;
    letter-spacing: -0.1px;
  }
}

.modal-transfer {
  .modal-content-container {
    width: 1280px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .transfer-container {
    @include flexbox;
  }
  #tree {
    text-align: left;
  }
  .table-container {
    min-width: 780px;
    // max-height: 580px;

    .table-viewArea {
      height: calc(580px - 48px);
    }

    .transfer-tab {
      margin-top: 40px;
      @include flexbox;
      @include align-items(center);

      .tab-item {
        position: relative;
        display: block;
        font-size: 14px;
        font-weight: $fw-m;
        color: #9daab9;
        margin-left: 29px;
        padding: 10px 0;
        margin-bottom: 5px;

        &:first-child {
          margin-left: 10px;
          &:before {
            display: none;
          }
        }

        &:hover {
          color: #504949;
        }

        &:before {
          position: absolute;
          top: 14px;
          left: -14px;
          display: block;
          width: 1px;
          height: 15px;
          content: "";
          background-color: #9daab9;
          cursor: default;
          @include pointer-none;
        }

        &.active {
          color: #30b9d3;
        }
      }
    }

    .table-indicator {
      margin-bottom: 12px;
    }
  }
  .transfer-form {
    position: relative;
    @include flex-shrink(0);
    margin-top: 112px;
    margin-left: 30px;
    width: 400px;
    height: 580px;
    padding: 50px 40px 0;
    background-color: #f2f4f7;

    .input-text {
      font-weight: $fw-m;
      letter-spacing: 0;
    }

    .button-transfer {
      @include flexbox;
      @include justify-content(flex-end);
      position: absolute;
      width: 320px;
      bottom: 30px;

      button {
        margin: 0;
      }

      .message {
        position: absolute;
        top: 0;
        left: 0;
        color: #ee6262;
        font-weight: $fw-b;
      }
    }
  }
}
