@charset "utf-8";

.dapp-details .details-top,
.voting-details .details-top {
  padding-bottom: 32px;
  border-bottom: 1px solid #f2f4f7;
}

// - - - - - - - - - - -
// .dapp-details
// - - - - - - - - - - -

.dapp-details {
  padding-top: 43px !important;

  .details-top {
    input[readonly] {
      border-color: transparent;
    }
  }

  .details-body {
    padding-left: 52px;
    padding-right: 4px;

    .dapp-details-description {
      //앱 설명
      margin-top: 32px;

      .title {
        display: block;
        font-size: 16px;
        font-weight: $fw-m;
        color: #000;
        margin-left: 8px;
        margin-bottom: 12px;
      }
    } // --- end of .dapp-details-description

    .dapp-details-image {
      width: 100%;
      padding: 70px 0;
      margin-top: 30px;
      height: auto;
      margin-bottom: 43px;
      background-color: #f2f4f7;

      img {
        display: block;
        margin: 0 auto;
        max-width: 90%;
      }
    } // --- end of .dapp-details-image
  } // ---- end of .dapp-details-body
}

.dapp-details-modify-info {
  margin-bottom: 70px;
  .flex-line {
    padding-top: 28px;
  }

  .title {
    margin-bottom: 16px !important;
  }
  .input-container {
    @include flex-shrink(0);
    margin-right: 40px;
  }
  .message {
    margin-top: 6px;
  }
}

.dapp-details-history {
  margin-bottom: 67px;

  .title {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin-left: 8px;
    margin-bottom: 12px;
  }
}

.dapp-register {
  // padding-top: 0;
  padding-bottom: 20px;
}
