@charset "utf-8";

// **** LNB style

#lnb {
  z-index: 1;
  width: 100%;
  height: 80px;
  // padding: 0 20px;
  padding-left: 250px;
  background-color: #f2f4f7;
} // ---end of #gnb

.lnb-container {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  // width: 100%;
  width: $maxWidth;
  height: 100%;
  margin: 0 auto;

  .lnb-left {
    @include flexbox;
    @include align-items(center);
  }

  .lnb-logo {
    //타이틀 (로고)
    width: 60px;
    height: 48px;
    margin-right: 13px;
    @include bgi("logo");
    text-indent: -9999px;
  }

  .lnb-route {
    //루트 표시 영역

    .lnb-route-info {
      //루트 내 텍스트
      display: inline-block;
      position: relative;
      color: #17365b;
      font-size: 12px;
      font-weight: $fw-m;

      &:not(:first-child) {
        margin-left: 14px;

        &:before {
          // '>'
          display: block;
          position: absolute;
          top: 0;
          left: -11px;
          content: ">";
          cursor: default;
          @include pointer-none;
        }
      }

      &.active {
        //활성화 시
        font-weight: $fw-b;
      }
    }
  } //end of .lnb-route

  .lnb-right {
  } //end of .lnb-right
} //end of .lnb-container
