@charset "utf-8";

// **** variables

// -------------------------
// [ 1. color pallete ]
// -------------------------

// -------------------------
// [ 2. z-index ]
// -------------------------

// -------------------------
// [ 3. path ]
// -------------------------
$path-image: "../images/";
$path-font: "../fonts/";

// -------------------------
// [ 4. font-weight ]
// -------------------------
$fw-b: 900;
$fw-bl: 700;
$fw-m: 500;
$fw-r: 400;

// -------------------------
// [ 5. style ]
// -------------------------

// -------------------------
// [ 6. common layout ]
// -------------------------
