@charset "utf-8";

// **** CONTENT style

#content {
  @include flexbox;
  @include flex-direction(column);
  width: 100%;
  // height: calc(100% - 90px);
  height: 100%;
  overflow: hidden;
} //end of #content
