@charset "utf-8";

// Main

#main {
  width: 100%;
  overflow-y: auto;
}

.main-container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 30px;
}

.main-top {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}
