@charset "utf-8";

// Main

#main {
  position: relative;
  width: 100%;
  overflow: hidden;
  // overflow-y: auto;

  &.scrollable {
    overflow-y: auto;
  }
}

.main-container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 30px;
}

.main-top {
  // padding-top: 24px;
  margin-top: 30px;
  margin-bottom: 24px;
  width: 100%;
}
