@charset "utf-8";

// **** DROPDOWN style

// dropdown에 대한 전체 스타일

.dropdown-basic {
  position: relative;
  // @include flexbox;

  .text {
    //표시되는 텍스트
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-weight: $fw-b;
    text-align: left;
    @include ellipsis;
    cursor: pointer;

    &:after {
      vertical-align: middle;
      display: inline-block;
      margin-left: 4px;
      content: "";
      width: 20px;
      height: 20px;
      background-image: icon(dropdown-arrow, #fff);
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  }

  .combobox {
    z-index: 1;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: none;
  }

  .combobox-item {
    display: block;
    width: 100%;
    height: 36px;
    line-height: 36px;
    color: #333;
    padding-left: 14px;
    padding-right: 14px;
    text-align: left;
    @include ellipsis;
    font-size: 13px;

    &:hover {
      background-color: #fafafa;
    }
  }

  &.active {
    .text {
      border-color: #bbb;
    }
    .combobox {
      display: block;
    }
  }
}

// 개별 스타일

// ------------

.dd-gnb-mgmt {
  // GNB 상단의 관리 메뉴
  margin: 50px 0;

  .text {
    padding-left: 40px;
    padding-right: 40px;
    color: #fff;

    &:after {
      vertical-align: sub;
    }
  }
}

// ------------

.dd-lnb-email {
  // LNB 오른편의 이메일

  .text {
    text-align: right;
    font-size: 12px;
    font-weight: $fw-r;
    color: #17365b;

    &:after {
      background-image: icon(dropdown-arrow, #17365b);
    }
  }
}

// * * * * * * * * * * * *
// (기본 셀렉트박스를 쓰는 경우)
// * * * * * * * * * * * *

.select-container {
  @include flexbox;
  @include align-items(center);

  .select-label {
    display: block;
    margin-right: 8px;
    font-size: 14px;
  }

  // .select-combobox-container {
  //   width: 80px;
  //   overflow: hidden;
  //   border: 1px solid #aaa;
  //   border-radius: 4px;
  //   background-image: url(http://i62.tinypic.com/15xvbd5.png),
  //     -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
  //   background-position: 97% center;
  //   background-repeat: no-repeat;
  // }

  .select-combobox {
    font-size: 13px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 6px 40px 6px 12px;
    background: #fff url("http://i62.tinypic.com/15xvbd5.png") no-repeat right
      9px center;
    background-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
  }
}
