@charset "utf-8";

// Input

.input-container {
  width: 320px;

  &.input-sm {
    width: 140px;
  }

  .title {
    display: block;
    margin-bottom: 19px;
    font-size: 13px;
    font-weight: $fw-m;
    margin-right: 14px;
    color: #333;
  }

  [class^="input-"] {
    border: 1px solid #c6cbd4;
    background-color: #fff;
    width: 100%;
    padding: 10px 13px;
    color: #000;
    font-size: 13px;
    font-weight: $fw-r;
    border-radius: 2px;
    letter-spacing: -0.5px;

    &:focus {
      outline: 0;
    }
  }
}

.checkbox-container {
  .checkbox-basic {
  }
}
