@charset "utf-8";

// Table

.table-container {
  table {
    table-layout: fixed;
    width: 100%;
  }
  .table-titleArea {
    // padding-left: 40px;
    // padding-right: 57px; //유동적
    background-color: #f2f4f7;
  }
  .table-viewArea {
    // padding-left: 40px;
    // padding-right: 40px;
    min-height: 100px;
    overflow: auto;
    border-top: 0;
    // border-bottom: 1px solid rgba(198, 203, 212, 0.3);
  }
}

// + + + +

.table-top {
  //테이블 상단 영역
  @include flexbox;
  @include align-items(flex-end);
  @include justify-content(space-between);
  margin-bottom: 10px;

  .table-indicator {
    //100개 중 1-15
    margin-left: 10px;
    font-size: 14px;
    font-weight: $fw-r;
    color: #333;

    .accent {
      font-weight: $fw-b;
      color: #30b9d3;
    }
  }

  .table-button-container {
    //테이블 위에 있는 신규 등록 버튼 등
    @include flexbox;
    @include align-items(center);
  }
}

// + + + +

.table-bottom {
  //테이블 하단 영역
  @include flexbox;
  @include justify-content(space-between);
  margin: 25px auto 41px;
}

.table-pagination-container {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  @include flex-grow(1);
  height: 30px;

  [class^="pagination"] {
    //전체 페이지네이션(숫자 포함)
    display: block;
    margin: 0 2px;
    text-align: center;

    &:hover {
      text-decoration: underline;
    }

    &.disabled,
    &.disabled a {
      color: #aaa;
      cursor: default;
      @include pointer-none;
      @include select-none;
      text-decoration: none;
    }
  }

  [class^="pagination-"] {
    //인디케이트 페이지네이션(처음, 이전, 다음, 끝)
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 5px;
    font-size: 15px;
    cursor: pointer;
  }
}

.table-header {
  th {
    height: 48px;
    line-height: 48px;
    font-size: 13px;
    padding-right: 10px;
    font-weight: $fw-b;
    color: #575757;
    background-color: #f2f4f7;
    @include ellipsis;

    &:first-child {
      padding-left: 40px;
    }

    &:last-child {
      padding-right: 30px;
    }
  }
}

// + + + +

.table-basic {
  text-align: left;
  position: relative;
  // min-height: calc(100vh - 90px - 78px - 30px - 50px);
  // min-height: calc(100vh - 340px);
  // height: 100%;

  thead {
    z-index: 1;
    background-color: #147caf;
    // position: absolute;
    display: table-row;
    padding-right: 15px;
  }

  tbody {
    height: auto;
    overflow: auto;
  }

  tr {
    border-top: 1px solid rgba(198, 203, 212, 0.3);

    &:last-child {
      border-bottom: 1px solid rgba(198, 203, 212, 0.3);
    }
  }

  td {
    text-align: left;
    height: 51px;
    padding-right: 10px;
    line-height: 51px;
    font-size: 13px;
    @include ellipsis;
    letter-spacing: -0.5px;

    &:first-child {
      padding-left: 40px;
    }

    &:last-child {
      padding-right: 30px;
    }
  }

  tr:hover {
    background-color: #fafafa;
  }

  a {
    text-decoration: underline;

    &:hover {
      color: #005faf;
    }
  }

  .tr-noData {
    &:hover {
      background-color: #fff;
    }
    td {
      position: relative;
    }
    .text-noData {
      // padding: 30px 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      letter-spacing: -0.4px;
      color: #666;
    }
  }

  & + .table-noData {
    font-size: 14px;
  }

  [class^="review-"] {
    &:before {
      display: inline-block;
      width: 5px;
      height: 5px;
      margin-right: 7px;
      border-radius: 50%;
      content: "";
      vertical-align: middle;
    }

    &.review-onging:before {
      background-color: #30b9d3;
    }

    &.review-done:before {
      background-color: #8592a2;
    }

    &.review-rejected:before {
      background-color: #f76335;
    }
  }
} //end of .table-basic

.table-paging-container {
  //행 표시
}
