@charset "utf-8";

// common style

.display-none {
  display: none;
}

#wrap {
  @include flexbox;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 1600px;
}

@for $i from 1 to 10 {
  .flex-grow-#{$i} {
    @include flex-grow(#{$i});
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.message {
  font-size: 12px;
  font-weight: $fw-m;
  color: #11adca;
  text-align: left;
}

.flex-line {
  position: relative;
  @include flexbox;
  @include align-items(center);
}

.datepicker-inner-area {
  // @include pointer-none;
  // @include select-none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.datepicker-multi-area {
  // @include pointer-none;
  // @include select-none;
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  min-width: 600px;
  height: 100%;
}
.div {
  @include flexbox;
}

.no-tree-view {
  //트리뷰가 없다면
  #lnb {
    // padding: 0 125px !important;
  }
  .lnb-container {
    // width: $maxWidth-noTreeView;
  }

  .main-container {
    padding: 0 125px;
  }
  .main-container .scroll-area {
    // width: $maxWidth-noTreeView;
    // padding: 0 125px;
  }
}

.person {
  vertical-align: middle;
  &:before {
    display: inline-block;
    width: 12px;
    height: 14px;
    margin-right: 3px;
    @include bgi("icon-person", "svg");
    content: "";
    vertical-align: sub;
  }
}

.scrollable,
.scroll-area {
  overflow-y: auto !important;
}

.accent {
  color: #30b9d3;
}

.has-message {
  @include flexbox;
  @include align-items(center);
  position: relative;
  .message {
    position: absolute;
    bottom: -20px;
    left: 0;
    font-weight: $fw-b;
    color: #ee6262;

    &.active {
      color: #11adca;
    }
  }
}

.has-message-block {
  .message {
    margin-top: 3px;
    text-align: left;
    color: #ee6262;
    font-weight: $fw-b;

    &.active {
      color: #11adca;
    }
  }
}

.queued {
  color: #aaa;
}
